<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<!-- NAVIGATION BAR -->
<body>
    <nav class="navbar navbar-dark bg-dark text-white px-3">
        <div class="container-fluid">
            <input type="hidden" th:field="${currUser.username}"></input>
            <h4 class="h6 m-0 col-md-4" th:text="${currUser.username}"></h4>
            <span class="col-md-4 d-flex justify-content-center" th:object="${dayObj}">
                <input type="hidden" th:field="*{day}"></input>
                <div class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle float-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" th:text="${dayObj.day}"></span>
                    <ul class="dropdown-menu">
                        <li th:each=" entry : ${currUser.dayMap}"><a class="dropdown-item"
                                th:href="@{'/selectDay/' + ${currUser.username} + '/' + ${entry.key}}" th:text="${entry.key}"></a></li>
                    </ul>
                </div>
            </span>

            <a href="/" class="text-decoration-none text-white h6 m-0 col-md-4 d-flex justify-content-end"> Log Off </a>
        </div>
    </nav>


    <!-- BMI Of Selected Day -->
    <div class="text-center">
        <img 
        src="https://lh3.googleusercontent.com/zhzeS3VYXVgI6L-yeXQBTDDWnjHBifi0k5TCan7otIaRsQ3sFobgamw8mUttpTdCKYy7DFeEEmtSRZBI9UoLRaU0T7fit0d7Roa7bl2h0MxgxJXbDuO6RkfpmQ2rrFs7kGlueAf0=w2400"
        class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" 
        width="200px" alt="profile"
        referrerpolicy="no-referrer">
      </div> 

    <form style="margin: 0; padding: 0;" action="#" th:action="@{'/del/' + ${currUser.username} + '/' + ${dayObj.day}}" method="post" th:object="${generatedBmiObj}">
        <div class="m-3 card">
            <div class="card-header d-flex justify-content-between">
                <button class="btn btn-warning mx-3  mt-1" name="delete" type="submit">Delete</button>
            </div>

            <div class="card-body">
                <div class="row">
                    <dd class="col-lg-4 col-md-6 d-flex justify-content-between px-5 "
                        th:each="bmiData, stat :*{bmiList}">
                        <span class="border p-2 rounded text-secondary">
                            <span th:text="'BMI: ' + ${bmiData.userBmi}"></span>
                            <br>
                            <span th:text="'Weight: ' + ${bmiData.userWeight}"></span>
                            <br>
                            <span th:text="'Height: ' + ${bmiData.userHeight}"></span>
                        </span>
                    </dd>

                    </span>

                    </dd>
                </div>
            </div>
            <div class="card-footer "></div>
        </div>
    </form>


    <!-- list of recorded days -->
    <div class="card-header d-flex flex-wrap m-3 justify-content-evenly" th:object="${currUser}">
        <div th:each=" entry : *{dayMap}">
            <a th:href="@{'/selectDay/'+ ${currUser.username}+ '/' +${entry.key}}"
                class="mb-3 me-2 card text-decoration-none">
                <button class="btn btn-light p-3" type="button" th:text="${entry.key}"></button>
            </a>
        </div>
    </div>
    </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>