<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Tracker Form</title>
</head>

<body th:object="${userbmi}">
    <h1> Your details below: </h1>
    <p>
        User ID: 
    </p>
    <p th:text="*{id}"></p>

    <br>

    <p>
        Name:
    </p>
    <p th:text="*{name}"></p>

    <br>

    <p>
        Email:
    </p>
    <p th:text="*{email}"></p>

    <br>

    <p>
        Height (in m):
    </p>
    <p th:text="*{height}"></p>

    <br>

    <p>
        Weight (in kg):
    </p>
    <p th:text="*{weight}"></p>

    <br>

    <p>
        BMI:
    </p>
    <p th:text="*{bmi}"></p>

    <br>

    <p>
        <input type="submit" value="Save" />
    </p>

    </form>
</body>

</html>