<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Tracker Form</title>
</head>
<body>
    <h1> Welcome to your new BMI Tracker app! </h1>
    <form
        action="#"
        th:action="@{/userbmi}"
        th:object="${userbmi}"
        method="post">
        <p>
            Name:
            <input type ="text" th:field="*{name}">
        </p>
        <br>
        <p>
            Email:
            <input type ="email" th:field="*{email}">
        </p>
        <br>
        <p>
            Height (in m):
            <input type ="number" required name="height" min="0.01" value="0" step=".01" th:field="*{height}">
        </p>
        <br>
        <p>
            Weight (in kg):
            <input type ="number" required name="weight" min="1" value="0" step=".01" th:field="*{weight}">
        </p>
        <br>
        <p>
            <input type="submit" value="Generate BMI"/>
        </p>
    </form>
</body>
</html>